.admin-list{
    overflow:hidden;
}

.admin-list dd{
    float:left;
    margin-bottom:10px;
}

.admin-list dt{
    width:200px;
    color:blue;
    float:left;
    clear:left;
	padding-bottom: 10px;
}

.wp-list-table.food tfoot td{
    font-weight:bold;
}

.wp-list-table.food-description td.name{
    width:200px;
    font-weight:bold;
}

.wp-list-table.food-description td{
    border-bottom:1px solid #F1F1F1;
}

.table-scroller{
	max-height: 380px;
	overflow-y: scroll;
}

table #gained_more_than_one_kg{
	width: 25px;
	background: url('images/flag.jpg') no-repeat 50% 30%;
}

table .flag{
	text-indent: -9999px;
	background: url('images/flag.jpg') no-repeat;
	width: 20px;
	height: 22px;
	display: block;
}

table .gained_more_than_one_kg{
	padding: 3px;
}